*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #060606;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  margin: auto;
  padding: 20px 50px;
  background-color: #060606;
}

header{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(50, 50, 50, 0.6);
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  padding: 10px;
  margin: 0 0 30px;
}

h2{
  color: #fff;
  margin: 20px;
  font-size: 1rem;
}

.player{
  font-size: 0.9rem;
}

.tempo{
  font-size: 0.9rem;
}

.timer{
  font-size: 0.7rem;
}

.ricke img, .mortye img {
  position: fixed;
  bottom: 25px;
}

.ricke img {
  width: 350px;
  right: 300px;
}

.mortye img {
  width: 80px;
  left: 340px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  max-width: 800px;
  gap: 15px;
  margin: 10px auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 10px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
  background-color: #ccc;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 2px solid #1ae82f;
  border-radius: 10px;
}

.reveal-card {
  transform: rotateY(180deg);
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url('../img/back.png');
  backface-visibility: hidden;
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}

@media (max-width: 768px) {

  body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  main {
    padding: 15px 20px;
  }

  header {
    max-width: 500px;
    font-size: 0.9rem;
  }

  .h2 {
    font-size: 0.9rem;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 400px;
    gap: 10px;
  }

  .ricke img {
    width: 480px;
    right: -25px;
    bottom: 15px;
  }

  .mortye img {
    width: 100px;
    left: 30px;
    bottom: 20px;
  }
}

