main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  justify-content: center;
  padding: 20px 20px 50px;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: 0 0 30px;
}

h2{
  margin: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  max-width: 800px;
  gap: 15px;
  margin: 10px auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 10px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
  background-color: #ccc;
}


.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 2px solid #1ae82f;
  border-radius: 10px;
}

.reveal-card {
  transform: rotateY(180deg);
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url('../img/back.png');
  backface-visibility: hidden;
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}