.login__form{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__hearder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;

}

.login__hearder img{
  width: 90px;
  margin-top: -40px;  
}

.login__hearder h1{
  color: #333;
  font-size: 1.5rem;
}

.login__input{
  width: 50%;
  max-width: 315px;
  border: 2px solid #1ae82f;
  box-shadow: 0 0 4px rgba(58, 248, 5, 0.6);
  border-radius: 6px;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 30px;
  outline: none;
}

.login__button{
  width: 50%;
  max-width: 100px;
  color: #565656;
  background-color: #1ae82f;
  padding: 8px;
  border: 2px solid #1ae82f8e;
  border-radius: 8px;
  cursor: pointer;
}

.login__button:disabled{
  background-color: #fff;
  color: #aaa;
  cursor: auto;
  border: 2px solid #aaa;
}